<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Css/adminPage.css" />
    <link rel="stylesheet" href="/Css/Homepage.css" />
    <!-- search icon  -->
  </head>
  <body>
    <main class="container">
      <div class="menu">
       
        <nav class="primary">
          <div>
          <img
          class="thumb"
          src="https://avatars.githubusercontent.com/u/30212452"
          width="60"
          
        />
        <span class="name">username</span>
      </div>
          <button id="btn-1" class="menu-item active">
          <span class="iconoir-report-columns"></span>
          <span class="desc">Account Details</span>
        </button>
       
        <!-- <button id="btn-2" class="menu-item ">
          <span class="iconoir-report-columns"></span>
          <span class="desc"></span>
        </button> -->


        <button id="btn-3" class="menu-item ">
          <span class="iconoir-report-columns"></span>
          <span class="desc">My Cart</span>
        </button>
        <button id="btn-4" class="menu-item ">
          <span class="iconoir-report-columns"></span>
          <span class="desc">Messages</span>
        </button>
        <button id="btn-5" class="menu-item ">
          <span class="iconoir-report-columns"></span>
          <span class="desc">Offers</span>
        </button>
        <!-- <button id="btn-6" class="menu-item ">
          <span class="iconoir-report-columns"></span>
          <span class="desc">Analytics</span>
        </button> -->
        <button id="btn-7" class="menu-item ">
          <span class="iconoir-report-columns"></span>
          <span class="desc">Settings</span>
        </button>
        </nav>
        <span class="expander iconoir-arrow-right"></span>
      </div>
      <div class="topbar">
        <h1 class="current">User Dashboard</h1>
        <span class="search">
          <label><span class="iconoir-search"></span></label>
          <input class="bar" type="text" placeholder="Search..." />
        </span>
        <nav>
          <button id="btn-3" class="menu-item ">
            <span class="iconoir-report-columns"></span>
            <span class="desc">View website</span>
          </button>
          
        </nav>
      </div>
      <div class="dashboard">
       
        
        <section id="section1" class="section">
          
          <div class="user-details-container">
            <label class="">Username:</label><br>
            <label class="">Email:</label><br>
            <label class="">Phone Number:</label>
          </div>
            
        </section>
        

        <!-- ----------Categories---------- -->
        <section id="section2" class="section">
          
        
        
      
        
        </section>
        <!----------------Offers------------------->

        <section id="section3" class="section">
          
        
           
        
         
        </section>
        <!--------------->

        </div>
      </div>
      <div class="side">
        <div class="card weather">
          <img
            class="condition"
            src="https://user-images.githubusercontent.com/30212452/203724734-5f748507-7ae4-49f9-89f8-7fce3112cd95.png"
          />
          <div class="content"></div>
          <div class="meta">
            <span class="location">
              <span class="iconoir-pin-alt"></span>
              Athens, GR
            </span>
            <div class="datetime">
              <span class="iconoir-calendar"></span>
              <span class="date">21 July, 2022</span>
              <span class="time">5:01</span>
            </div>
          </div>
        </div>
        <div class="card">
          <header>Schedule</header>
          <div class="content">
            <ul>
              <li>(15:30) Deliver the project to client</li>
              <li>(18:00) Meet Mike @ White Goose</li>
              <li>(19:30) Dinner with Mary @ Kit-Bar</li>
              <li>(22:00) Watch the Falcons match</li>
              <li>(23:30) Headspace Meditate</li>
            </ul>
          </div>
        </div>
      </div>
    </main>

  

    <script src="/Js/adminpage.js"></script>
  </body>
</html>
